@import url('https://fonts.cdnfonts.com/css/poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --CL-primary-blue: #29367a;
}

body {
  font-family: 'Poppins', sans-serif;
}

.active {
  @apply text-white bg-[var(--CL-primary-blue)] rounded-lg;
}

.btn {
  @apply px-3 py-1.5 border rounded-lg md:hover:bg-black md:hover:shadow-lg md:transition-all md:hover:scale-105 md:active:scale-95 cursor-pointer text-xs w-20;
}

.btn-info {
  @apply bg-[var(--CL-primary-blue)] text-white;
}

.btn-success {
  @apply text-white bg-green-600;
}

.btn-danger {
  @apply text-white bg-red-600;
}

.status {
  @apply px-3 py-1.5 border rounded-lg pointer-events-none text-xs w-full inline-block font-semibold;
}

.status-active {
  @apply bg-teal-300;
}

.status-complete {
  @apply bg-green-300;
}

.status-circle.placed {
  position: absolute;
  z-index: 1000;
}

.prevent-scroll {
  touch-action: none;
}
