@import url('https://fonts.cdnfonts.com/css/poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --CL-primary-blue: #3044bc;
}

body {
  font-family: 'Poppins', sans-serif;
}

.active {
  @apply text-white bg-[var(--CL-primary-blue)] rounded-lg;
}

.status-circle.placed {
  position: absolute;
  z-index: 1000;
}

.prevent-scroll {
  touch-action: none;
}
